@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");

#cdm-popup,
#cdm-popup *,
#cdm-popup *::before,
#cdm-popup *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Asap", sans-serif;
  color: var(--cdm-text-color);
  line-height: 16px;
  direction: ltr;
}

:root {
  --cdm-main-gradient: linear-gradient(90deg, #007bff 0%, #8000ff 50%, #ff007f 100%);
  --cdm-white-color: #fff;
  --cdm-text-color: #222;
  --cdm-menu-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --cdm-default-transition: all ease 0.3s;
  --cdm-popup-menu-item-on-hover: #f6f6f6;
  --cdm-row-number-color: #808080;
  --cdm-navigate-icon-color: #3a58c2;
}

#cdm-popup {
  display: block;
  width: 200px;
  max-width: 200px;
  position: fixed;
  top: 0;
  right: -400px;
  margin: 20px;
  opacity: 0;
  transition: var(--cdm-default-transition);
  z-index: 99999;
}

#cdm-popup.show {
  right: 0;
  opacity: 1;
}

#cdm-popup.expand {
  width: 300px;
  max-width: 300px;
}

#cdm-popup-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: var(--cdm-main-gradient);
}

#cdm-popup-header .logo {
  color: var(--cdm-white-color);
  font-weight: bold;
}

#cdm-popup-header .message {
  color: var(--cdm-white-color);
}

#cdm-popup-header .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#cdm-popup-header .actions button.cdm-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  color: var(--cdm-white-color);
  opacity: 1;
  transition: var(--cdm-default-transition);
}

#cdm-popup-header .actions button.cdm-button:hover {
  opacity: 0.9;
}

#cdm-popup-header .actions button.cdm-button svg path {
  width: 100%;
  height: 100%;
  fill: var(--cdm-white-color);
}

#cdm-popup-header .actions button.reverse {
  transform: rotate(180deg);
}

#cdm-popup-menu {
  position: absolute;
  top: calc(100% + 100px);
  width: 100%;
  max-height: 320px;
  background-color: var(--cdm-white-color);
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: var(--cdm-menu-shadow);
  opacity: 0;
  visibility: hidden;
  transition: var(--cdm-default-transition);
  list-style: none;
  overflow: auto;
}

#cdm-popup-menu.show {
  top: calc(100% + 10px);
  opacity: 1;
  visibility: visible;
}

#cdm-popup-menu li {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  transition: var(--cdm-default-transition);
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

#cdm-popup-menu li:hover {
  background-color: var(--cdm-popup-menu-item-on-hover);
}

#cdm-popup-menu li span:not(.row-number) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

#cdm-popup-menu li span.row-number {
  color: var(--cdm-row-number-color);
}

#cdm-popup-menu li button.navigate-button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  color: var(--cdm-white-color);
  opacity: 1;
  transition: var(--cdm-default-transition);
  cursor: pointer;
}

#cdm-popup-menu li button.navigate-button:hover {
  opacity: 0.9;
}

#cdm-popup-menu li button.navigate-button svg path {
  width: 100%;
  height: 100%;
  fill: var(--cdm-navigate-icon-color);
}

/* width */
#cdm-popup-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#cdm-popup-menu::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
#cdm-popup-menu::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 4px;
  transition: all ease 0.3s;
}

/* Handle on hover */
#cdm-popup-menu::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8);
}
